/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin'); */

.main {
  min-height: 100vh;
  display: grid;
  grid:
    'main' 100vh
    / auto;
  place-items: center;
  background: #ffffff;
}

.heading {
  grid-area: main;
  font: Libre Franklin;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #fff4;
  text-shadow: 0 0 5px #fff;
  mix-blend-mode: overlay;
}

.svg {
  grid-area: main;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .heading {
    text-align: center;
    font-size: 6rem;
  }
}
